.counter {
  display: block;
  margin: 0.75rem auto 0;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}

.count {
  font-size: 5rem;
}

.button {
  background: #5c3977;
  border: 1px solid #5c3977;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
}

.button:hover {
  background-color: #6d4d85;
}

.loading {
  font-size: 1.25rem;
  margin: 2rem 0 6rem;
}
