.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #5c3977;
  font-size: 3rem;
}

.Counter {
  color: black;
  font-size: 6rem;
}

button {
  background-color: #5c3977;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px;
}

button:hover {
  background-color: #6d4d85;
}
